html { overflow-y: scroll; }

.mui-1d3z3hw-MuiOutlinedInput-notchedOutline {
    
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #000;
}

.mui-17vuo9n-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 36px 16px 8px;    
    color: #000;
    z-index: 2;
}

.mui-19ah899-MuiTypography-root  {
    position: absolute;
    top: 6px;
    padding: 0 16px 0;
    margin: 0;
    color: #000;
    z-index: 5;
}


.mui-1wcaknn {
    border-radius: 0;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.muitech {
    border-radius: 0;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.mui-5q2lo6-MuiGrid-root {
    background-color: #CACACA;
    padding: 0 80px;
}

.mui-9inatt-MuiButtonBase-root-MuiButton-root {
    width: 46%;
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00BBC9 0%, #00747C 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
    box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
}

.mui-f9d929-MuiTypography-root {
    color: #424242;
    font-size: 1.1rem;
}