#techboxlogin{
    background-color: #CACACA;
    padding: 0 80px;
}

.page-wrapper{
    background-color: #000;
}

.header-tech{
    background-color: transparent;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
}

#techboxlogin .muitech .Mui-error fieldset{
    border-bottom: 2px solid #fa896b;
}


#techboxlogin .muitech fieldset {    
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #000;
}

#techboxlogin .muitech input {
    padding: 36px 16px 8px;    
    color: #000;
    z-index: 2;
}

#techboxlogin .muitech label{
    position: absolute;
    top: 6px;
    padding: 0 16px 0;
    margin: 0;
    color: #000;
    z-index: 5;
}



#techboxlogin .mui-1wcaknn {
    border-radius: 0;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 0;
}

#techboxlogin .muitech {
    border-radius: 0;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
    width: 100%;
}



#techboxlogin .muitech button{
    width: 46%;
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00BBC9 0%, #00747C 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
    box-shadow: 0px 8px 16px -10px rgba(0,0,0,0.43);
}

#techboxlogin .muitech .passtech{
    color: #424242;
    font-size: 1.1rem;
}


.mui-j7yf57-MuiButtonBase-root-MuiListItemButton-root.Mui-selected{
    background: linear-gradient(94.07deg, #00BBC9 0%, #00747C 100%);
}

.mui-j7yf57-MuiButtonBase-root-MuiListItemButton-root {
    border-radius: unset;
    justify-content: center;
    padding: 15px 20px;
}

.mui-tlelie-MuiListItemText-root {
    margin-left: 20px;
}

.mui-j7yf57-MuiButtonBase-root-MuiListItemButton-root.Mui-selected svg path{
    fill: #fff;
}

.toggle-tech {
    padding: 0;
    margin: 30px auto 30px;
    text-align: center;
    width: 100%;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
}

.toggle-tech.collapse svg{
    margin-right: 10px;
}

#msgs-menu ul{
    width: 0;
}

#msgs-menu .MuiMenu-paper {
    position: absolute;
    background-color: #0000;
    box-shadow: unset;
    overflow: visible;
}

.bubble-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: unset;
    background-color: #0000;
    width: fit-content;
}

.bubble-list.wipe{
    bottom: 5%;
    left: 10em !important;
    top: auto !important;
}

.bubble-list.strip{
    bottom: 5%;
    left: 22em  !important;
    top: auto !important;
}

.bubble-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bubble-list .bubble-link, .bubble-list button{
    padding: 20px;
    background-color: #cacaca;
    border-radius: 40px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    box-shadow: unset;
    border: unset;
    cursor: pointer;
}


.bubble-link:hover{
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
}

.bubble-link:hover h6{
    color: #fff;
}


.plus-menu button{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    padding: 18px 26px;
    cursor: pointer;    
    background-color: inherit;
    color: #2a3547;
    width: 100%;
    outline: 0;
    border: 0;
    margin: 0;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    justify-content: flex-start;
    min-width: auto;
    width: auto;
}


.plus-menu button h6 {
    margin-left: 15px;
}

.plus-menu:hover{
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
    border-radius: unset;
}

.plus-menu:hover button h6{
    color: #fff;
}

.plus-menu:hover button svg path{
    fill: #fff;
}

.safetechWrapper.bg-custom{
    background-color: #000;
}

.safetechWrapper header{
    background-color: transparent;
}

.searchtoptech fieldset{
    background-color: #CACACA;
    z-index: 0;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    border: unset;
    top: 0;
}

.searchtoptech input, .searchtoptech  svg{
    z-index: 1;
}

.searchtoptech fieldset legend{
    line-height: 0;
}

.safetechcheck .MuiCheckbox-root span  {
    width: 26px;
    height: 26px;
    background-color: #666666;
    border-radius: unset;
    margin: 0;
}


.safetechcheck .MuiFormControlLabel-labelPlacementStart{
    display: flex;
    align-items: center;
}


.safetechcheck .MuiFormControlLabel-label{
    display: block;
    line-height: 0;
}

.safetechcheck .MuiCheckbox-root span:before {
    width: 25px;
    height: 25px;
    background-size: cover;
}

.dialog-form{
    height: unset;
    display: unset;
}

 
.dialog-form .MuiDialog-paper {
    height: 625px; 
    max-width: 512px;
    margin: 50vh 130px 0;
    transform: translateY(-50%);
    background-color: #cacaca;
    -webkit-box-shadow: 0px 5px 0px 0px #00BBC9;
    -moz-box-shadow: 0px 5px 0px 0px #00BBC9;
    box-shadow: 0px 5px 0px 0px #00BBC9;
    padding: 20px 60px;
    border-radius: 7px;
}


.dialog-form.extended .MuiDialog-paper {
    margin: 50vh 340px 0;
}

.logo{
    margin-top: -24px;
}

.dialog-form .dialog-form-content  {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.dialog-form .dialog-form-content .dialog-form-box .dialog-response{
    
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.dialog-form .dialog-form-content .dialog-form-box svg{
    margin: 0 0 1.5em;
}


.dialog-form .close-dialog-form {
    position: absolute;
    left: 10px;
    background: transparent;
    border: unset;
    cursor: pointer;
}


.dialog-form h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #202022;
    padding: 0 0 14px;
}

.dialog-form h2 .DialogSubTitle {
    font-size: 12px;
    line-height: 12px;
    color: #202022;
    font-weight: 100;
    margin: 0 0 5px;
}

.dialog-form .muitech {
    position: relative;
    margin-bottom: 14px;
}


.dialog-form .muitech label{
    position: absolute;
    top: 4px;
    padding: 0 16px;
    margin: 0;
    color: #000;
    z-index: 5;
    font-size: 12px;
    line-height: 12px;
}

.dialog-form .muitech input{
    padding: 22px 16px 6px;
    color: #000;
    z-index: 2;
    font-size: 14px;
    line-height: 14px;
}

.dialog-form .muitech-confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.dialog-form .muitech-confirm a, .dialog-form .muitech-confirm button{
    width: 46%;
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00BBC9 0%, #00747C 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0 8px 16px -10px #0000006e;
    -moz-box-shadow: 0 8px 16px -10px #0000006e;
    box-shadow: 0 8px 16px -10px #0000006e;
}

.dialog-form .muitech-confirm a:first-child, .dialog-form .muitech-confirm button.MuiButton-alone{
    background: #fff;
    border: 2px solid #00BBC9;
    color: #202022;
}

.dialog-form .muitech fieldset{
    border-radius: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #000;
}

button.btn-techmenu {
    background: transparent;
    border: unset;
    width: 100%;
    padding: 0;
    margin: 0;
}

.simplebar-content{
    height: 100%;
}

.group-card{
    display: flex;
    padding: 20px; 
    gap: 20px;
}

.group-card .title-item-card{
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #202022;
    padding: 0 0 20px;
    text-align: center;
}

.card-box{
    background: unset;
    border: unset;
    box-shadow: unset;
}

.side-card {
    padding: 25px 15px;
    background-color: #EEEEEE;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration-line: grammar-error;
    height: 100vh;
}

.simplebar-content .close-Drawer{
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: unset;
    cursor: pointer;
}

.Drawer-safetech .MuiDrawer-paper{
    height: 90vh;
    bottom: 0px;
    top: auto;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 0 -5px #00bbc9;
    -moz-box-shadow: 0 -5px #00bbc9;
    box-shadow: 0 -5px #00bbc9;
}

.card-flex {
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 25px;
}

.card-flex svg{
    cursor: pointer;
}

.card-flex.red{
    border: 3px solid #D62109;
    box-shadow: 0px 4px 4px 0px #D6210940;

}

.card-flex.green{
    border: 3px solid #03AB00;
    box-shadow: 0px 1px 4px 0px #00000040;
}

.card-flex.green .vehicle-img{ 
    border-left: 12px solid #03AB00;
}

.card-flex.red .vehicle-img{ 
    border-left: 12px solid #D62109;
}

.card-flex h6{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.card-flex h5{
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
    margin: 10px 0;
}

.card-flex button{
    width: 46%;
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0 8px 16px -10px #0000006e;
    -moz-box-shadow: 0 8px 16px -10px #0000006e;
    box-shadow: 0 8px 16px -10px #0000006e;
}

.card-flex  .group-btn{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 30px 0;
}

.body-card{
    padding: 30px;
}


.card-flex .header-card{
    padding: 0 12px;
    display: block;
}


.card-flex .group-btn-card {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-flex  .group-btn-card button {
    width: 125px;
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 10px;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0 8px 16px -10px #0000006e;
    -moz-box-shadow: 0 8px 16px -10px #0000006e;
    box-shadow: 0 8px 16px -10px #0000006e;
}


.card-flex  .group-btn-card button.lineal {
    background: #fff;
    border: 2px solid #00bbc9;
    color: #202022;
    cursor: pointer;
}

.card-flex .avatar img{
    width: 60px;
    border-radius: 160px;
    height: 60px;
}

.card-flex  .vehicle-img{
    color: transparent;
    width: 100%;
    border-left: 12px solid #000;
}

.btn-menu{
    list-style: none;
    margin: 0;
    position: relative;
    border-radius: unset;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: unset;
    background: unset;
    cursor: pointer;
}

.btn-menu.wipe{
    display: block;
}

.btn-menu:hover{
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
}

.btn-menu:hover h6{
    color: #fff;
}

.btn-menu:hover svg path{
    fill: #fff;
}


.btn-menu h6{
    margin-left: 20px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334rem;
    font-family: '__Plus_Jakarta_Sans_3e240d', Helvetica, Arial, sans-serif;
    display: block;
    color: #2A3547;
}

.mui-10klw3m {
    overflow: hidden;
}

.table-modal{
    width: 100%;
}


.crud-dialog {
    padding: 20px 60px;
    height: 80vh;
}

.crud-dialog .close-dialog-crud{
    position: absolute;
    left: 10px;
    background: none;
    border: unset;
    cursor: pointer;
} 

.crud-dialog h2{
    font-size: 24px;
    line-height: 10px;
    font-weight: bold;
    color: #202022;
    padding: 8px 20px 20px;
}

.crud-dialog  h2 p {
    font-size: 14px;
    line-height: 14px;
    color: #202022;
    font-weight: 100;
    margin: 10px 0;
}


.crud-dialog  .btn-modal{
    margin: 0 auto;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 60px;
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0 8px 16px -10px #0000006e;
    -moz-box-shadow: 0 8px 16px -10px #0000006e;
    box-shadow: 0 8px 16px -10px #0000006e;
    width: 100%;
    border: unset;
}

.w-full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabletype{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: inherit;
    -webkit-box-align: center;
    align-items: center;
} 

.tabletype svg{
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 18px;
    margin-right: 4px;
    margin-left: 4px; 
    user-select: none; 
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabletype svg.iconDirectionAsc{
	transform: rotate(0deg);
    opacity: 1;
}


.tabletype svg.iconDirectionDesc{
	transform: rotate(180deg);
    opacity: 1;
}


.roundButton{

    padding: 10px;
    margin: 0 4px;
    text-align: center;
    border-radius: 60px;    
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0 8px 16px -10px #0000006e;
    -moz-box-shadow: 0 8px 16px -10px #0000006e;
    box-shadow: 0 8px 16px -10px #0000006e;
    border: unset;
}


.roundButton.info{
    color: #fff;
    background: linear-gradient(94.07deg, #00bbc9 0%, #00747c 100%);
}


.roundButton.error{
    background: linear-gradient(94.07deg, #fa896b 0%, #fa896b 100%);
    color: #fff;
}

.roundButton.clean{
    background: linear-gradient(94.07deg, #dbdbdb 0%, #dbdbdb 100%);
    color: #313131;
}